#nav
{
margin: 0;
z-index: 90;
 border: 2% solid #a1a1a1;
padding: 0; 
background: #dddddd;
width: 300px;
border-radius: 25px;
width: 27%;
position:fixed;
left: 44%;
}
#nav a
{
text-decoration: none;
color: black;
font-weight: bold;
}
.fixedTop
{
position: fixed;
margin:0;
top: 0;
left: 44%;
}
.center-align
{
width:100%;
text-align: center;
}
.left-align
{
width:100%;
text-align: left;
}




